:root {
    --primary: #388E3C;
    --primary-contrast: #66BB6A;
    --dark: #121619;
    --dark-alt: #225560;
    --light: #795548;
    --white: #F1F8E9;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("../assets/NotoSans-Regular.ttf");
}

* {
    font-family: 'Noto Sans', sans-serif !important;
}

body {
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background: var(--dark);
    z-index: 100000;
    box-shadow: -3px -3px 26px 3px rgba(0, 0, 0, 0.3);
}

.navigation__button {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.navigation__button img {
    width: 1.2rem;
    margin-right: 0.4rem;
}

.navigation__button:hover,
.navigation__button.active {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
}

.nav-link.active {
    color: var(--primary) !important;
}

a.no-decoration {
    text-decoration: none !important;
    color: #000 !important;
}

.btn-none {
    background: none;
    border: none;
}

main.container {
    margin-bottom: 7rem;
}

.btn-primary {
    background: var(--primary) !important;
    border: none;
}

.btn-primary:hover {
    background: var(--primary-contrast) !important;
}

.btn-outline-primary {
    border: solid 1px var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background: var(--primary) !important;
    color: var(--white) !important;
}

.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 .2rem rgba(244, 81, 30, .25);
}

.custom-range::-moz-range-thumb,
.custom-range::-webkit-slider-thumb {
    background-color: var(--primary) !important;
}

.custom-control-input:checked~.custom-control-label::before,
.badge-primary {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}

.check-element {
    margin: 0.3rem 0;
}

.line-orange {
    border-color: var(--primary);
}

.sportrate-box {
    padding: 1.3rem 2rem;
}



/* Accordion */
.accordion-container {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
}

.accordion {
    padding: 0.8rem 1rem;
    cursor: default;
    transition: all 250ms;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.accordion__header img {
    width: 1rem;
    margin-right: 1rem;
}

.accordion__header {
    display: flex;
    align-items: center;
    background: transparent !important;
    transition: all 250ms;
}

.accordion__body {
    display: none;
    padding: 1rem 1.2rem;
    font-size: 0.9rem;
}

.accordion:not(.open):hover {
    background: rgba(0, 0, 0, 0.06);
}

.accordion.open .accordion__header img {
    transform: rotate(180deg);
}

/* Sign In */
.signin {
    display: flex;
    justify-content: space-around;
    width: 25rem;
    max-width: 100%;
    border: solid 1px transparent;
    transition: all 250ms;
}

.signin:hover {
    opacity: 0.8;
}

.signin__logo {
    width: 2rem;
}

.signin--email {
    background: var(--primary);
    color: #fff;
}

.signin--google:hover {
    border-bottom: solid 1px var(--dark-alt);
}

.signin--facebook {
    background: #1877f2;
    color: #fff;
}

.signin--facebook:hover,
.signin--email:hover {
    color: #fff;
}

/* Chat-Message */
.chat-message {
    width: 60%;
    margin: 2rem 0;
    padding: 0.3rem 1rem;
    background: var(--dark);
    color: #fff;
    font-size: 0.87rem;
    line-height: 24px;
    border-radius: 5px;
}

.chat-message--right {
    margin-left: 39%;
}

/* Feed-Element */

.feed-item {
    transition: all 250ms;
    text-decoration: none;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feed-item__image {
    width: 8rem;
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.feed-item__image img {
    max-width: 100%;
}

.feed-item:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35) !important;
    text-decoration: none;
    color: #000;
}

.feed-item__container {
    width: 100%;
}

.feed-item__sport {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    margin: 0.2rem 0.6rem 0.2rem 0;
    background: var(--primary);
    color: #fff;
}

.profile-page {
    padding: 3rem;
}

@media (max-width: 500px) {
    .profile-page {
        padding: 0.5rem;
    }
}