:root {
    --primary: #388E3C;
    --primary-contrast: #66BB6A;
    --dark: #121619;
    --dark-alt: #225560;
    --light: #795548;
    --white: #F1F8E9;
}

body {
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
    text-align:center;
    background: var(--dark);
    z-index: 100000;
}

.navigation__button {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.navigation__button img {
    width: 1.2rem;
    margin-right: 0.4rem;
}

.navigation__button:hover,
.navigation__button.active {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
}

.nav-link.active {
    color: var(--primary) !important;
}

a.no-decoration,
.card[href*="user.html"] {
text-decoration: none !important;
color: #000 !important;
}

.btn-none {
    background: none;
    border: none;
}

.card[href*="user.html"] {
    transition: all 250ms;
}

.card[href*="user.html"]:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.card[href*="user.html"] img {
    max-width: 10rem;
    width: 100%;
}

main.container {
    margin-bottom: 7rem;
}

.btn-primary {
    background: var(--primary) !important;
    border: none;
}

.btn-primary:hover {
    background: var(--primary-contrast) !important;
}

.btn-outline-primary {
    border: solid 1px var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background: var(--primary) !important;
    color: var(--white) !important;
}

.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 .2rem rgba(244, 81, 30, .25);
}

.custom-range::-moz-range-thumb,
.custom-range::-webkit-slider-thumb {
    background-color: var(--primary) !important;
}

.custom-control-input:checked ~.custom-control-label::before {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}


/* Tiles */
.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    margin: 0.3rem 0.3rem 0 0;
}

.tile input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.tile label {
    display: inline-block;
    border: solid 1px var(--dark-alt);
    padding: 0.4rem 1.2rem;
    transition: all 250ms;
    font-size: 0.9rem;
}

.tile label:hover {
    background: var(--light);
}

.tile input:checked ~ label {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.line-orange {
    border-color: var(--primary);
}

.sportrate-box {
    border: solid 1px var(--light);
    padding: 1.3rem 2rem;
}



/* Accordion */
.accordion {
    cursor: default;
}

.accordion .card-header {
    border: solid 1px transparent;
    transition: all 250ms;
}

.accordion .card-header:hover {
    border: solid 1px var(--primary);
}

.accordion .card-body {
    display:none;
}

.accordion.open {
    border: solid 1px var(--primary);
}

.accordion.open .card-header img {
    transform: rotate(180deg);
}