.nav {
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
    text-align:center;
    background: #272727;
    z-index: 100000;
}

.nav__button {
    text-decoration: none;
    color: #FAFAFA;
    padding: 1rem 0;
    display: inline-block;
    font-size: 1.1rem;
}

.nav__button:hover,
.nav__button.active {
    background: #616161;
    color: #fafafa;
    text-decoration: none;
}

a.no-decoration,
.card[href*="user.html"] {
text-decoration: none !important;
color: #000 !important;
}

.card[href*="user.html"] {
    transition: all 250ms;
}

.card[href*="user.html"]:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.card[href*="user.html"] img {
    max-width: 10rem;
    width: 100%;
}

main.container {
    margin-bottom: 7rem;
}