:root {
    --primary: #F4511E;
    --primary-contrast: #C5461A;
    --dark: #2B2D42;
    --dark-alt: #364156;
    --light: #90A4AE;
    --white: #F7FFF7;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("NotoSans-Regular.ttf");
}

* {
    font-family: 'Noto Sans', sans-serif !important;
}

body {
    background: var(--white);
}

.headbar {
    width: 100%;
    background: var(--dark);
    display: flex;
    justify-content: center;
    padding: 0.7rem;
}

.headbar__branding {
    display: flex;
    align-items: center;
}

.menu {display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
    text-align:center;
    background: var(--dark);
    z-index: 100000;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.5);
}

.branding {
    display:none;
    text-decoration: none;
}

.branding:hover {
    color: var(--primary);
    text-decoration: none;
}

.branding__image {
    max-width: 2rem;
}

.branding__name {
    font-size: 1.4rem;
    color: var(--primary);
    margin-left: 0.5rem;
    font-weight: bold;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    text-align:center;
}

.navigation__button {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.navigation__button img {
    width: 1.2rem;
    margin-right: 0.4rem;
}

.navigation__button:hover,
.navigation__button.active {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
}

.nav-link.active {
    color: var(--primary) !important;
}

a.no-decoration {
text-decoration: none !important;
color: #000 !important;
}

.btn-none {
    background: none;
    border: none;
}

main.container {
    margin-bottom: 7rem;
}

.btn-primary {
    background: var(--primary) !important;
    border: none;
}

.btn-primary:hover {
    background: var(--primary-contrast) !important;
}

.btn-outline-primary {
    border: solid 1px var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background: var(--primary) !important;
    color: var(--white) !important;
}

.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 .2rem rgba(244, 81, 30, .25);
}

.custom-range::-moz-range-thumb,
.custom-range::-webkit-slider-thumb {
    background-color: var(--primary) !important;
}

.custom-control-input:checked ~.custom-control-label::before, .badge-primary {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}

.check-element {
    margin: 0.3rem 0;
}

.line-orange {
    border-color: var(--primary);
}

.sportrate-box {
    padding: 1.3rem 2rem;
}



/* Accordion */
.accordion-container {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
}

.accordion {
    padding: 0.8rem 1rem;
    cursor: default;
    transition: all 250ms;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.accordion__header img {
    width: 1rem;
    margin-right: 1rem;
}

.accordion__header {
    display: flex;
    align-items: center;
    background: transparent !important;
    transition: all 250ms;
}

.accordion__body {
    display: none;
    padding: 1rem 1.2rem;
    font-size: 0.9rem;
}

.accordion:not(.open):hover {
    background: rgba(0,0,0,0.06);
}

.accordion.open .accordion__header img {
    transform: rotate(180deg);
}

/* Sign In */
.signin {
    display: flex;
    justify-content: space-around;
    width: 25rem;
    max-width:100%;
    border: solid 1px transparent;
    transition: all 250ms;
}

.signin:hover {
    opacity: 0.8;
}

.signin__logo {
    width: 2rem;
}

.signin--email {
    background: var(--primary);
    color: #fff;
}

.signin--google:hover {
    border-bottom: solid 1px var(--dark-alt);
}

.signin--facebook {
    background: #1877f2;
    color: #fff;
}

.signin--facebook:hover, .signin--email:hover {
    color: #fff;
}

/* Chat-Message */
.chat-message {
    width: 60%;
    margin: 2rem 0;
    padding: 0.3rem 1rem;
    background: var(--dark);
    color: #fff;
    font-size: 0.87rem;
    line-height: 24px;
    border-radius: 5px;
}

.chat-message--right {
    margin-left: 39%;
}

/* Feed */

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.feed-item {
    transition: all 250ms;
    text-decoration: none;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feed-item__image {
    width: 8rem;
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
    border: solid 1px var(--dark-alt);
}

.feed-item__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-item__image img {
    max-width: 100%;
}

.feed-item:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35) !important;
    text-decoration: none;
    color: #000;
}

.feed-item__container {
    width: 100%;
}

.feed-item__sport {
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem 0;
    color: var(--primary);
}

.profile-page {
    padding: 3rem;
}

/* Tab-Nav */
.tab-nav {
    display: flex;
    align-items: center;
}

.tab-nav__element {
    text-decoration: none;
    color: #000;
    border-bottom: solid 3px transparent;
    margin-right: 2rem;
    padding: 0.4rem 1.6rem;
    transition: all 250ms;
}

.tab-nav__element img {
    max-width: 1rem;
    margin-right: 0.4rem;
}

.tab-nav__element:hover, .tab-nav__element.active {
    color: var(--primary);
    border-bottom: solid 3px var(--primary);
    text-decoration: none;
}

@media (max-width: 500px) {
    .profile-page {
        padding: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .feed-item {
        width: 30% !important;
        margin: 1.3rem 1% !important; 
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .feed-item {
        width: 41%;
        margin: 1.3rem 4%;
    }
}

@media (min-width: 800px) {
    .headbar {
        display: none;
    }

    .menu {
        top: 0;
        bottom: auto;
        justify-content: center;display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .branding {
        display: flex;
        align-items: center;
    }

    .navigation {
        width: auto;
    }

    .navigation__button {
        flex-basis: content;
        flex-grow: initial;
        padding: 1rem 2rem;
    }

    .container {
        padding-top: 7rem;
    }
}